In [1]:
import pandas as pd

In [2]:
titles = pd.read_csv("upgraded_movielens_latest/titles.csv")
links = pd.read_csv("movielens_latest/links.csv")

In [3]:
titles.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [4]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
len(links)- len(titles)

1130

In [6]:
links = links.drop(columns=['imdbId'])
valid_movie_ids = set(titles['movieId'])

In [7]:
len(valid_movie_ids)

85407

In [8]:
links = links[links['movieId'].isin(valid_movie_ids)]

In [9]:
len(links)

85407

In [10]:


links = links.sort_values('movieId', ascending=True)

In [11]:
links.head()

   movieId   tmdbId
0        1    862.0
1        2   8844.0
2        3  15602.0
3        4  31357.0
4        5  11862.0

In [12]:
titles.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [13]:
titles = titles.merge(links, on="movieId")

In [14]:
titles.head()

   movieId                               title   tmdbId
0        1                    Toy Story (1995)    862.0
1        2                      Jumanji (1995)   8844.0
2        3             Grumpier Old Men (1995)  15602.0
3        4            Waiting to Exhale (1995)  31357.0
4        5  Father of the Bride Part II (1995)  11862.0

In [15]:
len(titles)

85407

In [16]:
title_2_tmdbID = dict(zip(titles['title'], titles['tmdbId']))

In [18]:
import joblib
joblib.dump(title_2_tmdbID, 'helper_data/title_2_tmdbID.joblib')

['helper_data/title_2_tmdbID.joblib']